%section
  .mui-row
    .mui-col-xs-6.mui-col-md-8
      %h1
        %span.mui--hidden-xs
          Articles by
        =current_user.name
    .mui-col-xs-6.mui-col-md-4
      - if current_user
        = link_to 'New Article', new_article_path, class: 'mui-btn mui-btn--primary mt2'
  - if @articles.empty?
    .mui--text-headline
      No Articles Found
  - else
    = render partial: 'articles/article', collection: @articles
%p
  = render partial: 'shared/search'